.page-aboutus {
  background-color: #f4f5f9;
  
  .head-section{
    display: none;
  }

  .site-content {
    &.aboutus {
      div {

        h3 {
          color: #082E54;
          margin-bottom: 0;
        }

        h4 {
          color: #082E54;
          margin-bottom: 0;
        }

        h5 {
          color: grey;
          margin-top: 0;
          margin-bottom: 20px;
          text-transform: uppercase;
        }

        p:last-child {
          margin-bottom: 1.5rem;
        }

        .nav > li > a:focus, a:hover {
          text-decoration: none;
          background-color: #53155A;
          color: #ffffff;
        }

        a {
          color: #808080;
          text-decoration: none;
          padding-left: 15px;
        }

        .nav>li>a {
           padding: 1px 20px;
        }
      }

    }
  }

  .feature-image {
    background: url('../img/about.png');
    height:330px;
    background-size:contain;
    margin-bottom: 2rem;
    position:relative;
  }

  .left-bar {
    border-left: 3px solid #A020F0;
    padding: 0 0 0 15px;
  }

  .sub-ul {
    list-style-type:none;
  }

  .ul-block {
    list-style-type:none;
    > li{
      width: 100%;
      a{
        position: relative;
        display: inline-block;
        width: auto;
        text-align: left;
        display: inline-block;
        padding: 2px 24px;
        border-radius: 9px;
        margin-bottom: 6px;
        .glyphicon{
          position: absolute;
          left: 4px;
          top: 4px;
        }
      }

    }
    > li.active {
      > a {
        background: @site-color;
        color: #fff;
      }
    }
  }

}