html {
  font-size: 20px;
}

html, body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei', sans-serif;
}

.container{
  min-width: 1000px !important;
}

header {
  .clearfix();
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  height: 77px;
  position: relative;

  .bg{
    background: @site-color;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .container{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &.site-header {
    position: fixed;
    top: 0;
    z-index: 103;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #666;

    .navbar {
      margin-bottom: 0;
    }

    .navbar-brand {
      background: url('../img/cdmc-logo-1.png') no-repeat scroll center center;
      .size(8.25rem, 2rem);
      padding: 0;
      margin: 15px 20px 15px 0;
      text-indent: -9999px;
      background-size: auto 2.25rem;
    }

    .navbar-nav {
      float: right;
      margin-right: 60px;

      > li {
        padding: 24px 0 20px 0;
        margin: 0 4px;

        > a {
          font-size: 16px;
          color: #fff;
          padding: 5px 16px;
          background: transparent;
        }
      }
    }

    .navbar-toggle {
      top: 0.75rem;

      .icon-bar {
        background: @site-color;
      }
    }

    .lang{
      position: absolute;
      right: 0;
      top: 29px;
      background: #fff;
      border-radius: 8px;
      padding: 0px 6px;
      a{
        color: @site-color;
      }
    }
  }
}

.site-main {
  position: relative;
  min-height: 100%;
  margin-top: 77px;
}

footer {
  padding: 20px 0;
  width: 100%;
  font-size: @font-size-small;
  background: #eee;
  .container{
    position: relative;
  }
  .left-side{
    img{
      width: 180px;
      margin-bottom: 14px;
    } 
    p{
      color: #aaa;
      margin: 2px 0;
      font-size: 12px;
      span{
        display: inline-block;
        width: 200px;
      }
    }
  }
  .right-side{
    position: absolute;
    left: 520px;
    top: 8px;
    img.wx{
      width: 135px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .follow{
      margin-left: 160px;
      padding-top: 48px;
      .nav{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        a{
          padding: 0 2px;
        }
      }
      p{
        color: #999;
        margin: 4px 0;
        font-size: 12px;
      }
    }
  }
}

.mobile-view {

}