html {
  font-size: 20px;
}

html, body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei', sans-serif;
}

.container{
  /*width: 1140px;*/
}

.site-content{
  margin-top: 77px;
  padding-top: 20px; 
}

header {
  height: 77px;
  .bg{
    background: @site-color;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .container-float{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0; 
  }

  .container{
    position: relative;
    background: transparent;
  }

  &.site-header {
    position: fixed;
    top: 0;
    z-index: 103;
    width: 100%;

    .navbar {
      margin-bottom: 0;
    }

    .navbar-brand {
      width: 220px;
      height: 90px;
      padding: 0;
      margin: -12px 0 0;
      img{
        height: 100%;
      }
    }

    .navbar-nav {
      position: absolute;
      right: 0px;
      z-index: 2;

      > li {
        padding: 24px 0 20px 0;
        margin: 0;
        position: relative;

        > a {
          font-size: 16px;
          color: #fff;
          padding: 5px 20px;
          background: transparent;
          position: relative;
          text-align: center;
          overflow: visible;
        }

        &:hover a::before, a.active::after{
          content: ' ';
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: -4px;
          left: 0px;
          border-bottom: 2px solid #bb54c0;
          border-left-color: transparent;
          border-right-color: transparent;
          border-top: 0;
        }
      }
      &:hover a.active::after{
        display:none;
      }
    }

    .lang{
      display: none;
      position: absolute;
      right: 0;
      top: 29px;
      background: #fff;
      border-radius: 8px;
      padding: 0px 10px;
      a{
        color: @site-color;
        font-size: 14px;
      }
    }
  }
}

.bs-docs-sidebar{
  .bs-docs-sidenav, .sub-ul {
    list-style-type:none;
    padding: 0;
  }
  li {
    width: 100%;
  }
  li a{
    text-align: left;
    display: inline-block;
    border-radius: 9px;
    margin-bottom: 6px;
    position: relative;
    padding: 0 10px 0 24px;
    background: transparent;
    color: grey !important;
    cursor: pointer;
    text-decoration: none;
    .glyphicon{
        position: absolute;
        left: 3px;
        top: 3px;
    }
  }
  li.active > a, li:hover > a{
    background: @site-color !important;
    color: #fff !important;
  }
  li .sub-ul li {
    margin-left: 14px;
    a{
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .bs-docs-sidebar{
    li .sub-ul li {
      display: inline-block;
      width: auto;
      a{

      }
    }
  }
}

.site-header {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    margin-right: 5px;
  }
  @media screen and (max-width: 768px) {
    .navbar-nav {
      background: #53155a;
      opacity: 0.7
    }
    .navbar-nav>li {
      padding: 5px 0 20px !important;
    }
  }
  .navbar-collapse {
    overflow: hidden;
  }
}
.navbar .navbar-toggle {
  margin-top: 20px;
  .icon-bar {
    background-color: white;
  }
}
.left-block {
  display:inline-block;
  width: 30%;
  padding-right: 10px
}

.right-block {
  display:inline-block;
  width: 30%;
  padding-right: 10px
}

.line {
  display: inline-block;
  width:1px; height:100px;
  border-left: 1px solid #000;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  .site-header{
    .navbar-nav li>a{
      padding: 5px !important;
    }
    .navbar-brand{
      width: 180px !important;
    }
  }
}

footer {
  padding: 40px 0;
  width: 100%;
  font-size: @font-size-small;
  background: #eee;
  .container{
    position: relative;
  }
  p{
    color: #666;
  }
  .left-side{
    float: left;
    margin: 0 25px;
    width: 45%;
    img{
      width: 220px;
      margin-bottom: 14px;
    } 
    p{
      margin: 2px 0;
      font-size: 12px;
      span{
        display: inline-block;
        width: 200px;
      }
    }
  }
  .right-side{
    float: left;
    position: relative;
    top: 8px;
    margin: 0 25px;
    width: 40%;
    img.wx{
      width: 135px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .follow{
      margin-left: 160px;
      padding-top: 48px;
      .nav{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        a{
          padding: 0 2px;
        }
        li{
          a{
            img{
              display: inline-block;
              float: left;
              margin: 4px;
            }
          }
          .grey{
            display: inline-block;
          }
          .highlight{
            display: none;
          }
        }
        li:hover{
          .grey{
            display: none;
          }
          .highlight{
            display: inline-block;
          }
        }
      }
      p{
        margin: 4px 0;
        font-size: 12px;
      }

    }
  }
}

@media screen and (max-width: 720px) {
  footer{
    .left-side, .right-side{
      width: 80%;
    }
  }
}

.mobile-view {

}