@media screen and (max-width: 767px) {
  div[bmy-channel] img {
    width: 100%;
  }
  #am-2032-element {
    section.e7editor section.E7wei > section {
      margin: 0 !important;
      img {
        display: none;
      }
      section > section {
        margin-left: 0 !important;
      }
      section:nth-child(2) {
        margin: -6em 0 !important;
      }
    }
  }
  .site-content.hire .glyphicon-record {
    margin-right: 5px;
  }
  .page-hire {
    .site-content {
      .bs-docs-sidenav {
        margin-bottom: 20px;
      }
      .sub-ul {
        margin-left: 0;
        li a {
          margin-left: 0;
        }
      }
    }
  }
}
.page-hire {
  background-color: #f4f5f9;
  .site-header {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-nav {
      margin-right: 5px;
    }
    @media screen and (max-width: 768px) {
      .navbar-nav {
        background: #53155a;
        opacity: 0.7
      }
      .navbar-nav>li {
        padding: 5px 0 20px !important;
      }
    }
    .navbar-collapse {
      overflow: hidden;
    }
  }
  .navbar .navbar-toggle {
    margin-top: 20px;
    .icon-bar {
      background-color: white;
    }
  }
  .site-content {
    &.hire {
      div {

        h2 {
          color: black;
          margin-top: 10px;
        }

        h4 {
          color: grey;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }

        p:last-child {
          margin-bottom: 1.5rem;
        }

        .img {
          .square(300px);
          float: left;
          padding-right: 10px;
        }

        hr {
          height:0px;
          width: 200px;
          border-top:2px solid #FFA500;
          margin-bottom: 5px;
        }

        .nav > li > a:focus, a:hover {
          text-decoration: none;
          background-color: #53155A;
          color: #ffffff;
        }

        .nav > li > a {
          padding: 1px 10px;
        }

        a {
          color: #808080;
          text-decoration: none;
        }
      }

    }
  }

  .left-block {
    display:inline-block;
    width: 30%;
    padding-right: 10px
  }

  .right-block {
    display:inline-block;
    width: 30%;
    padding-right: 10px
  }

  .line {
    display: inline-block;
    width:1px; height:100px;
    border-left: 1px solid #000;
  }

  .sub-ul {
    list-style-type:none;
    margin-left: 20px;
    padding-left:20px;
    li a{
      text-align: left;
      display: inline-block;
      width: 120%;
      margin-left: -42px;
      border-radius: 9px;
      margin-bottom: 6px;
    }
    li.active{
      a{
        background: @site-color;
        color: #fff;
      }
    }
  }
}