.page-index {
  min-width: 1140px;
  header .bg{
    background: #000;
    opacity: 0.3;
  }
  .site-main {
    margin: 0px auto 0;
  }

  #banner{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    .slide{
      position: relative;
      img{
        width: 100%;
        display: block;
      }
      .slick-arrow{
        position: absolute;
        z-index: 100;
        cursor: pointer;
        img{
          width: 36px;
        }
      }
      .slick-prev-arrow{
        top: 45%;
        left: 8px;
      }
      .slick-next-arrow{
        top: 45%;
        right: 8px;
      }
    }
    .heading{
      position: absolute;
      top: 35%; 
      left: 140px;
      p{
        color: #fff;
      }
      .name{
        font-size: 24px;
      }
      .title-en{
        font-size: 42px;
        margin: 0;
      }
    }
    .bottom-block{
      position: absolute;
      bottom: 80px;
      left: 0;
      width: 100%;
      padding: 3px;
    }
    ul{
      display: block;  
      width: 700px;
      height: 42px;
      margin: 0 auto;
      float: none;
      border: 1px solid #fff;
      overflow: hidden;
      padding: 0;
      li, li:hover{
        height: 100%;
        display: block;
        width: 25%;
        background: #eee;
        float: left;
        a{
          width: 100%;
          display: inline-block;
          text-align: center;
          color: @main-font-color;
          font-size: 14px;
          text-decoration: none;
          margin: 6px 0;
          height: 30px;
          padding: 4px;
        }
      }
      .bd-right{
        a{
          border-right: 1px solid #aaa;
        }
      }
      li.active, li:active{
        background: #888;
        a, a:hover{
          color: #fff;
        }
      }
    }
  }

  #video-container{
    margin: 40px 32px;
    background: #fff;
    position: relative;
    .slick-arrow{
      position: absolute;
      height: 100%;
      width: 40px;
      top: 0;
      z-index: 100px;
      background: #eee;
      cursor: pointer;
      i{
        position: relative;
        top: 45%;
        width: 100%;
        display: inline-block;
        padding: 0;
        text-align: center;
        color: #aaa;
      }
    }
    .slick-prev-arrow{
      left: -32px;
    }
    .slick-next-arrow{
      right: -32px;
    }
    .slide-contaienr{

    }
    .video-slide{
      overflow: hidden;
      .thumb{
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding: 0;
        margin: 0 8px;
        overflow: hidden;
        height: 220px;
        background: #000;
        &:hover{
          iframe{
            opacity: 0.8;
          }
          .link-block img{
            opacity: 0.8;
          }
        }
        iframe{
          width: 100%;
          height: 100%;
          opacity: 0.7;
        }
        a.link-block{
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 12;
            opacity: 0.7;
          }
          span{
            position: absolute;
            left: 10px;
            top: 48px;
            padding: 10px;
            text-align: left;
            font-size: 26px;
            color: #fff;
            z-index: 15;
          }
        }
        .desc{
          position: absolute;
          bottom: 0;
          color: #fff;
          text-align: left;
          left: 0;
          padding: 8px 12px;
          width: 100%;
          height: 36px;
          z-index: 18;
        }
        .desc-bg{
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 36px;
          z-index: 17;
          opacity: 0.4;
        }
      }
    }
  }

  #business {
    margin-bottom: 50px;
    .heading{
      padding-top: 55px; 
      padding-bottom: 40px;
      border-bottom: 1px solid #ddd;
      background: #fff;
      margin-bottom: 80px;
      h4{
        text-align: center;
        color: #79828f;
        font-size: 26px;
        font-weight: lighter;
      }
      p{
        text-align: center;
        text-transform: uppercase;
        background: #79828f;
        color: #fff;
        width: 150px;
        padding: 2px;
        margin: 0 auto;
        font-size: 14px;
        font-weight: lighter;
      }
    }
    .container{
      text-align: center;
      .feature{
        display: inline-block;
        width: 300px;
        height: 100px;
        margin: 0 0 80px;
        padding: 0px 25px 0 35px;
        vertical-align: top;
        .row-1{
          width: 100%;
          position: relative;
          padding-bottom: 10px;
          img{
            width: 40px;
            position: absolute;
            top: 4px;
            left: 0px;
          }
          p{
            text-align: left;
            color: #717071;
            margin: 0;
            margin-left: 56px;
            font-size: 16px; 
          }
          .big{
            font-size: 22px;
          }
        }
        .detail{
          text-align: left;
          color: #acb2b8;
          font-size: 14px;
        }
      }
      #f2, #f3, #f5{
        border-left: 1px solid #ddd; 
      }
    }
  }
}


// Styles for MobileView
.mobile-view {
  .site-main {
    margin-top: 110px;
  }

  #business {

  }
}