
  .news-detail{
    .head-section{
      .am-itemtitle-element p{
        font-size: 24px !important;
      }
      .am-description-element p{
        padding: 10px 20px 10px 0;
        color: #888;
        font-size: 14px;
        margin: 0;
      }
      .divisions-container{
        padding: 0;
        margin-bottom: 10px;
      }
    }
    .sections-container{
      margin-bottom: 20px;
      img{
        display: inline-block;
        width: 100%;
        height: auto;
      }
      p{
        text-align: left;
        text-align: justify;
      }
    }
  }


.mobile-view {
  
}